table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 500px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #eee;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }